h4 {
  margin-bottom: 16px;
}

.articles__info {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.articles__list {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.article__list_columns {
  display: flex;
  flex-direction: column;
}
